thumbs.db
/obj
/bin
/gen
/libs/*/libAGG.so
/libs/*/libappmain.so
/libs/*/libLUA.so
/libs/*/libmikmod.so
/libs/*/libSDL.so
/libs/*/libSDL_gfx.so
/libs/*/libSDL_mixer.so
/local.properties
/assets/application.properties
/res/values/GoogleAnalytics.xml
/theme_hospital
.c9revisions
