<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:installLocation="preferExternal"
    package="uk.co.armedpineapple.corsixth"
    android:versionCode="8"
    android:versionName="0.1.8" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name" android:name=".CorsixTHApplication">
        <activity
            android:name="uk.co.armedpineapple.corsixth.SDLActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".wizard.WizardActivity"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/Theme.AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="PrefsActivity" >
        </activity>
    </application>

</manifest>