<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="300"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <application
        android:name="uk.co.armedpineapple.cth.CTHApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme">

        <meta-data
            android:name="SDL_ENV.SDL_HINT_RENDER_LOGICAL_SIZE_MODE"
            android:value="1" />

        <activity
            android:name="uk.co.armedpineapple.cth.GameActivity"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:immersive="true"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:preferMinimalPostProcessing="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="uk.co.armedpineapple.cth.setup.SetupActivity"
            android:excludeFromRecents="true"
            android:exported="false" />

        <activity
            android:name="uk.co.armedpineapple.cth.settings.SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.SettingsTheme" />

    </application>
</manifest>
