<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="300"
        android:smallScreens="false"
        android:xlargeScreens="true" />

    <uses-permission android:name="com.google.android.gms.permission.AD_ID" tools:node="remove" />

    <application
        android:name="uk.co.armedpineapple.cth.CTHApplication"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppTheme"
        android:gwpAsanMode="always"
        tools:targetApi="r">

        <!-- Overscan, rather than letterboxing -->
        <meta-data
            android:name="SDL_ENV.SDL_HINT_RENDER_LOGICAL_SIZE_MODE"
            android:value="1" />

        <!-- Don't generate synthetic mouse events from touch. We will handle this ourselves in lua
        so that we get better control -->
        <meta-data
            android:name="SDL_ENV.SDL_TOUCH_MOUSE_EVENTS"
            android:value="false" />

        <!-- Don't enable crashlytics or analytics collection by default. Opt-in is used instead. -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <!-- Don't enable anything in analytics that we don't need or aren't interesting. -->
        <meta-data
            android:name="google_analytics_adid_collection_enabled"
            android:value="false" />
        <meta-data
            android:name="google_analytics_default_allow_ad_personalization_signals"
            android:value="false" />
        <meta-data
            android:name="google_analytics_ssaid_collection_enabled"
            android:value="false" />

        <activity
            android:name="uk.co.armedpineapple.cth.GameActivity"
            android:configChanges="layoutDirection|locale|orientation|uiMode|screenLayout|screenSize|smallestScreenSize|keyboard|keyboardHidden|navigation"
            android:exported="true"
            android:immersive="true"
            android:launchMode="singleInstance"
            android:preferMinimalPostProcessing="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            tools:targetApi="r">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="uk.co.armedpineapple.cth.setup.SetupActivity"
            android:excludeFromRecents="true"
            android:exported="false" />

        <activity
            android:name="uk.co.armedpineapple.cth.settings.SettingsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.SettingsTheme" />

        <activity
            android:name="uk.co.armedpineapple.cth.files.SaveActivity"
            android:exported="false"
            android:label="@string/save"
            android:theme="@style/Theme.SaveTheme" />

    </application>
</manifest>
